name: Cypress Login E2E Tests

on:
  push:
    branches: [ main, minhthoai ]
  pull_request:
    branches: [ main, minhthoai ]

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: Install dependencies
        run: npm ci

      - name: Run Cypress tests
        uses: cypress-io/github-action@v5
        with:
          browser: chrome
          headless: true
          record: false

      - name: Upload test results
        uses: actions/upload-artifact@v3
        with:
          name: cypress-test-report
          path: cypress/results
