
.card {
    background-color: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: box-shadow 0.2s ease;
}

.card:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.name {
    font-size: 0.8rem;
    font-weight: 600;
    color: #1f2937;
    margin-bottom: 0.2rem;
}
.price,.info{
    font-size: 0.7rem;
}
.price {
    color: #374151;
    margin-bottom: 0.2rem;
    font-weight: 500;
}

.info {
    color: #4b5563;
    margin-bottom: 0.2rem;
}

.description {
    color: #6b7280;
    font-style: italic;
    font-size: 0.6rem;
    margin-top: 0.2rem;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.2rem;
    margin-top: 0.5rem;
}

.editBtn,
.deleteBtn {
    padding: 0.2rem 0.4rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
}

.editBtn {
    font-size:0.7rem;
    background-color: #f59e0b;
}

.editBtn:hover {
    background-color: #d97706;
}

.deleteBtn {
    font-size:0.7rem;
    background-color: #dc2626;
}

.deleteBtn:hover {
    background-color: #b91c1c;
}
