.homePage {
    width: 100vw;
    height: 100vh;
    background-color: rgb(34, 33, 32);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.homePage h1 {
    color: white;
    font-size: clamp(0.8rem, 5vw, 2rem);
}
.homePage > div {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}
.homePage button {
    cursor: pointer;
    font-size: clamp(0.5rem, 2vw, 1rem);
    background-color: white;
    padding: 0.5rem 0.8rem;
    border-radius: 1rem;
    border: none;
}
