spring:
  application:
    name: ktpm-service

  datasource:
    url: jdbc:postgresql://localhost:5433/ktpm
    username: root
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  sql:
    init:
      mode: always
      data-locations: ""

jwt:
  secret: VGhpcy1pcy1hLXNlY3JldC1rZXktZm9yLUpXVC0yNTYtYml0IQ==

server:
  port: 8080
